<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title> Notificações </title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Painel de Controle</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a>Adm Conteudo</a></li>
                <li><a>Adm Notificacoes</a></li>
                <li><a>Gerenciador de Membros</a></li>
                <li><a>Gerenciador de Grupos</a></li>
                <li><a>Suporte de Usuarios</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right"> 
                <li><a> Logout </a></li>
              </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-9">

                </div>
            </div>
        </div>
</html>