{% load static %}
{% if message %}
<script>
    alert('{{ message }}');
</script>
{% endif %}
<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title> PaginaHome </title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Gerenciador App NV</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a>Alterar Conteudo</a></li>
              </ul>
            </div>
        </nav>

        <div class="container" style="background-color: black; padding-left: 0px; padding-left: 0px;">
            <nav class="navbar navbar-default" style="background-color: black; margin-left: 0px; border: 0px">
                <div class="row">
                    <div class="col-sm-2" style="padding-top: 10px;">
                        <img src="/static/images/menuAppVisualizacao.png" width="30%" height="20%">
                    </div>
                    <div class="col-sm-10">
                        <img src="/static/images/logonovavida.png" width="15%" height="5%">
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <img width="100%" height="" style="padding-bottom: 20px;" src="/static/images/principal1694003509.489669.png">
                </div>
            </div>
            <h1 style="color: white"> Destaques </h1>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6" style="padding: 40px;">
                        <img src="/static/images/card11693942047.3700283.png" width="100%" height="100%" style="border-radius: 5%;">
                    </div>
                    <div class="col-sm-6" style="padding: 40px;">
                        <img src="/static/images/card11693942047.3700283.png" width="100%" height="100%" style="border-radius: 5%;">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6" style="padding: 40px;">
                        <img src="/static/images/card11693942047.3700283.png" width="100%" height="100%" style="border-radius: 5%;">
                    </div>
                    <div class="col-sm-6" style="padding: 40px;">
                        <img src="/static/images/card11693942047.3700283.png" width="100%" height="100%" style="border-radius: 5%;">
                    </div>
                </div>
            </div>
            <h1 style="color: white;"> Grupos de Vida </h1>
            <div class="container" style="
            background-color: black;
            left: 10px;
            top: 10px;
            width: calc(100% - 200px);
            height: auto;
            overflow-x: auto;
            white-space: nowrap;">
            <style>
                .item {
                    background-color: black;
                    display: inline-block;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            </style>
                <div class="item"><img src="/static/images/card31693942074.8732839.png" width="25%" height="25%"></div>
                <div class="item"><p class="itemContent">Text</p></div>
                <div class="item"><p class="itemContent">Text</p></div>
                <div class="item"><p class="itemContent">Text</p></div>
                <div class="item"><p class="itemContent">Text</p></div>
                <div class="item"><p class="itemContent">Text</p></div>
                <div class="item"><p class="itemContent">Text</p></div>
                <div class="item"><p class="itemContent">Text</p></div>
                <div class="item"><p class="itemContent">Text</p></div>
                <div class="item"><p class="itemContent">Text</p></div>
                <div class="item"><p class="itemContent">Text</p></div>
                <div class="item"><p class="itemContent">Text</p></div>
                <div class="item"><p class="itemContent">Text</p></div>
            
            </div>
        </div>
    </body>
</html>
